[submodule "high-availability"]
	path = high-availability
	url = https://gerrit.googlesource.com/plugins/high-availability
[submodule "events-log"]
	path = events-log
	url = https://gerrit.googlesource.com/plugins/events-log
[submodule "heartbeat"]
	path = heartbeat
	url = https://gerrit.googlesource.com/plugins/heartbeat
[submodule "rate-limiter"]
	path = rate-limiter
	url = https://gerrit.googlesource.com/plugins/rate-limiter
[submodule "serviceuser"]
	path = serviceuser
	url = https://gerrit.googlesource.com/plugins/serviceuser
[submodule "readonly"]
	path = readonly
	url = https://gerrit-review.googlesource.com/plugins/readonly
[submodule "rename-project"]
	path = rename-project
	url = https://gerrit.googlesource.com/plugins/rename-project
[submodule "log-level"]
	path = log-level
	url = https://gerrit-review.googlesource.com/plugins/log-level
[submodule "reviewers"]
	path = reviewers
	url = https://gerrit-review.googlesource.com/plugins/reviewers
[submodule "go-import"]
	path = go-import
	url = https://gerrit-review.googlesource.com/plugins/go-import
[submodule "admin-console"]
	path = admin-console
	url = https://gerrit-review.googlesource.com/plugins/admin-console
[submodule "changemessage"]
	path = changemessage
	url = https://gerrit-review.googlesource.com/plugins/changemessage
[submodule "javamelody"]
	path = javamelody
	url = https://gerrit-review.googlesource.com/plugins/javamelody
[submodule "messageoftheday"]
	path = messageoftheday
	url = https://gerrit-review.googlesource.com/plugins/messageoftheday
[submodule "oauth"]
	path = oauth
	url = https://gerrit-review.googlesource.com/plugins/oauth
[submodule "project-group-structure"]
	path = project-group-structure
	url = https://gerrit-review.googlesource.com/plugins/project-group-structure
[submodule "quota"]
	path = quota
	url = https://gerrit-review.googlesource.com/plugins/quota
[submodule "slack-integration"]
	path = slack-integration
	url = https://gerrit-review.googlesource.com/plugins/slack-integration
[submodule "task"]
	path = task
	url = https://gerrit-review.googlesource.com/plugins/task
[submodule "uploadvalidator"]
	path = uploadvalidator
	url = https://gerrit-review.googlesource.com/plugins/uploadvalidator
[submodule "batch"]
	path = batch
	url = https://gerrit-review.googlesource.com/plugins/batch
[submodule "reviewassistant"]
	path = reviewassistant
	url = https://gerrit-review.googlesource.com/plugins/reviewassistant
